/*css del menu o navbar*/
.color-menu{
    background-image: linear-gradient(to right, #0dca93, #0ea57e, #178268, #1d5f50);
}


#menu a{
    color:white !important;
    font-weight: bold;
}

#menu img{
    max-width: 180px;
}
/*css del menu o navbar*/

/*css del carusel*/
#carusel .carousel-inner img{
    width: 200px;
    height: 550px;
    object-fit: cover;    
}

#carusel .overlay{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.31);
    color: white
}

#carusel .overlay .container,
#carusel .overlay .container{
    height: 100%;
}

#carusel h1{
    font-size: 70px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
   
}

#carusel p{
    font-size: 20px;
    font-weight: bold;
    -webkit-text-stroke: 0.7px black;
}

/*css del carusel*/

/*css para como reciclar*/
#features {
    padding: 80px 0;
    background-color: #f8f9fb; /* Cambia el color de fondo a tu preferencia */
}

.feature-img {
    max-height: 400px; /* Ajusta la altura máxima de la imagen principal */
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}

.feature-info {
    padding-left: 250px; /* Ajusta el espacio a la izquierda del contenido */
}

/* Estilos para el contenido de la sección */
.feature-title {
    font-size: 50px; /* Ajusta el tamaño de fuente del título */
    font-weight: bold;
    margin-top: 20px;
    
}

.feature-description {
    margin-top: 10px;
}



/*/css para como reciclar*/

/*css para empresas*/
.empresa-fondo{
    background-image: url(../imagenes/planeta.jpg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    
    padding-top: 5%;
    padding-bottom: 10%;
    
   
    
}

#empresas h1{
    color:white !important;
    font-weight: bold;
    font-size: 50px;
    -webkit-text-stroke: 0.7px black;
}


.card-transparent {
    background-color: rgba(255, 255, 255, 0.638); /* Ajusta la opacidad del fondo aquí */
    /* Otros estilos personalizados de la carta, como el color del texto, margen, etc. */
    color: #046a1f;
    margin: 20px;
    padding: 20px;
    border-radius: 80px;
    font-weight: bold;
    
    
    
}





/*/css para empresas*/


/*css de las nosotros*/
.nosotros-color {
    background-image: linear-gradient(to bottom, #0dca93, #0ea57e, #178268, #1d5f50);
}

#nosotros img{
    width: 50px;
    border-radius: 100px;
}

#nosotros h1{
    color:white !important;
    font-weight: bold;
    font-size: 50px;
    -webkit-text-stroke: 0.7px black;
    
}

/*/css de nosotros*/


/*css del footer*/

#footer img{
    width: 200px;
}

#footer a{
    color:white !important;
    text-decoration: none;
}

/*css del footer*/


/*-------------------------------------------------------------*/


/*css de premios*/

#premios img{
    width: 500px;
    height: 300px;
}

#merge{
    background-color: #046a1f;
}

#imgrafico img{
    width:500px ;
    height: 450px;
}

#descarga img{
    width: 200px;
    height: 200px;
}